:root{
    --birumuda: #96cdee;
    --putihabu: whitesmoke;
    --putih:#ffffff;
    --biru: #4887B7;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--putihabu);
}

.box{
    background-color: var(--birumuda);
    max-width: 500px;
    min-width: 250px;
    max-height: 70vh;
    min-height: 40vh;
    width: 40vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.box h3{
    font-size: 36px;
    text-align: center;
    cursor: default;
}

.box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: var(--putih);
    margin: 30px 0;
    border-radius: 15px;
}

.input-box input{
    width: 300px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
}

.input-box i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
}

.box .btn{
    position: relative;
    width: 100%;
    height: 40px;
    background: #c0d6e2;
    margin: 30px 0;
    border-radius: 15px;
    bottom: 15px;
    cursor: pointer;
}

.red{
    color: red;
}
.form{
    width: 75%;
}

.place-user,.place-pass{
margin-left: 20px;
}

.btn{
    border-color: var(--biru)
}
